.container {
  width: 60%;
  margin: auto;
  padding: 1.5em;
  background-color: #1ecbe1;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 15em;
  padding-top: 2em;
  color: #e1341e;
  font-family: "Noto Sans", sans-serif;
}

.btn {
  margin: 3em 0;
  padding: 0.6em 1.8em;
  border-radius: 8px;
  border: none;
  font-family: "Lemonada", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: white;
  background-color: #747574;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 4px 4px 5px 0px rgba(180, 173, 173, 0.7);
}

.container p:last-child {
  text-align: left;
}
